In [7]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

'Загружаем файл и оставляем только интересующий нас промежуток времени'

event_df = pd.read_csv('7_4_Events.csv')
cond = (event_df['start_time'] >= '2018-01-01') & (event_df['start_time'] < '2019-01-01') & (event_df['event_type'] == 'registration')
registered = event_df[cond]['user_id'].to_list()
events = event_df[event_df['user_id'].isin(registered)]
events['start_time'] = pd.to_datetime(events['start_time'], format='%Y-%m-%dT%H:%M:%S')
display(events)

,id,event_type,selected_level,start_time,tutorial_id,user_id
51405,80308,registration,NaN,2018-01-01 03:48:40,NaN,27832
51406,80309,registration,NaN,2018-01-01 04:07:25,NaN,27833
51407,80310,registration,NaN,2018-01-01 08:35:10,NaN,27834
51408,80311,registration,NaN,2018-01-01 11:54:47,NaN,27835
51409,80312,registration,NaN,2018-01-01 13:28:07,NaN,27836
...,...,...,...,...,...,...
118359,147262,tutorial_start,NaN,2019-01-01 03:26:18,49554.0,47756
118360,147263,tutorial_finish,NaN,2019-01-01 03:29:25,49554.0,47756
118362,147265,level_choice,easy,2019-01-01 05:04:52,NaN,47755
118363,147266,level_choice,medium,2019-01-01 05:42:11,NaN,47756
118364,147267,pack_choice,NaN,2019-01-01 05:50:36,NaN,47756

In [8]:
'Пользователи совершившие оплату'

purchase_df = pd.read_csv('purchase.csv')
purchase_df['event_type'] = 'purchase'
purchase_df = purchase_df[purchase_df['user_id'].isin(registered)]
purchase_df['event_datetime'] = pd.to_datetime(purchase_df['event_datetime'], format='%Y-%m-%dT%H:%M:%S')
purchase_df

         id  user_id      event_datetime  amount event_type
1171  16845    27845 2018-01-03 18:53:43     100   purchase
1172  16846    27865 2018-01-04 14:46:10     250   purchase
1174  16848    27911 2018-01-07 08:19:12      50   purchase
1175  16849    27910 2018-01-07 12:11:34     100   purchase
1176  16850    27940 2018-01-07 13:16:41     200   purchase
...     ...      ...                 ...     ...        ...
2767  18441    47498 2019-01-02 03:48:19     100   purchase
2768  18442    47647 2019-01-02 23:26:26     150   purchase
2769  18443    47554 2019-01-03 00:36:36      50   purchase
2774  18448    47742 2019-01-04 12:51:41      50   purchase
2778  18452    47732 2019-01-06 07:14:25     150   purchase

[1600 rows x 5 columns]

In [9]:
'группа easy'

easy_level_df = events[events['selected_level'] == 'easy']
easy_list = easy_level_df['user_id'].to_list() 
purchase_easy = purchase_df[purchase_df.user_id.isin(easy_list)]
easy_users = easy_level_df['user_id'].nunique()
purchase_easy_users = purchase_easy['user_id'].nunique()
persent_easy_purchase = purchase_easy_users/easy_users
print ('процент оплативших от выбравших easy: {:.2%}'.format(persent_easy_purchase))

easy_reg = events[events.user_id.isin(easy_list)][events['event_type'] == 'registration']
merged_easy = easy_reg.merge(purchase_easy,on='user_id',how='inner')
merged_easy['deltatime'] = merged_easy['event_datetime']-merged_easy['start_time']
print ('среднее время от регистрации до оплаты:  ',   merged_easy['deltatime'].mean())

merged_easy1 = easy_level_df.merge(purchase_easy,on='user_id',how='inner')
merged_easy1['deltatime'] = merged_easy1['event_datetime']-merged_easy1['start_time']
print ('среднее время от выбора уровня до оплаты:', merged_easy1['deltatime'].mean())

процент оплативших от выбравших easy: 7.72%
среднее время от регистрации до оплаты:   3 days 22:10:23.211640211
среднее время от выбора уровня до оплаты: 3 days 14:58:52.941798941

In [10]:
'группа medium'

medium_level_df = events[events['selected_level'] == 'medium']
medium_list =  medium_level_df['user_id'].to_list() # список пользователь выбравших средний уровень 
purchase_medium = purchase_df[purchase_df.user_id.isin(medium_list)]
medium_users = medium_level_df['user_id'].nunique()
purchase_medium_users = purchase_medium['user_id'].nunique()
persent_medium_purchase = purchase_medium_users/medium_users
print ('процент оплативших от выбравших medium: {:.2%}'.format(persent_medium_purchase))

medium_reg = events[events.user_id.isin(medium_list)][events['event_type'] == 'registration']
merged_medium = medium_reg.merge(purchase_medium,on='user_id',how='inner')
merged_medium['deltatime'] = merged_medium['event_datetime']-merged_medium['start_time']
print ('среднее время от регистрации до оплаты:   ', merged_medium['deltatime'].mean())

merged_medium1 = medium_level_df.merge(purchase_medium,on='user_id',how='inner')
merged_medium1['deltatime'] = merged_medium1['event_datetime']-merged_medium1['start_time']
print ('среднее время от выбора уровня до оплаты: ', merged_medium1['deltatime'].mean())

процент оплативших от выбравших medium: 20.86%
среднее время от регистрации до оплаты:    4 days 06:12:06.576883384
среднее время от выбора уровня до оплаты:  3 days 23:14:13.165118679

In [11]:
'Группа hard'

hard_level_df = events[events['selected_level'] == 'hard']
hard_list =  hard_level_df['user_id'].to_list() # список пользователь выбравших средний уровень 
purchase_hard = purchase_df[purchase_df.user_id.isin(hard_list)]
hard_users = hard_level_df['user_id'].nunique()
purchase_hard_users = purchase_hard['user_id'].nunique()
persent_hard_purchase = purchase_hard_users/hard_users
print ('процент оплативших от выбравших hard: {:.2%}'.format(persent_hard_purchase))

hard_reg = events[events.user_id.isin(hard_list)][events['event_type'] == 'registration']
merged_hard = hard_reg.merge(purchase_hard,on='user_id',how='inner')
merged_hard['deltatime'] = merged_hard['event_datetime']-merged_hard['start_time']
print ('среднее время от регистрации до оплаты:  ', merged_hard['deltatime'].mean()) 

merged_hard1 = hard_level_df.merge(purchase_hard,on='user_id',how='inner')
merged_hard1['deltatime'] = merged_hard1['event_datetime']-merged_hard1['start_time']
print ('среднее время от выбора уровня до оплаты:', merged_hard1['deltatime'].mean())

процент оплативших от выбравших hard: 35.39%
среднее время от регистрации до оплаты:   3 days 14:55:19.257918552
среднее время от выбора уровня до оплаты: 3 days 07:20:41.420814479

Вывод: В ходе анализа можно выявить, что выбор уровня сложности и процент оплативших на прямую зависят друг от друга. 
       Чем ниже уровень, тем меньше процент отплат. 
       Так же, мы можем заметить, что нет существенной разницы во временных промежутках между регистрацией и оплаты,                  в зависимости от уровня сложности. Все временные интервалы находятся в диапазоне +-3 дня.